.activities-nav-bar {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}
.activities-card-items {
  background-color: rgb(5, 109, 109) !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: wheat;
  margin-bottom: 10px;
}
.activities-card-items:hover {
  background-color: rgba(4, 124, 124, 0.534) !important;
  color: white;
}
.activities-nav-brand,
.activities-nav-link {
  color: whitesmoke !important;
}
.activity-card-delete {
  color: red;
}
.activity-card-delete:hover {
  color: rgba(255, 0, 0, 0.705);
}
.activity-card {
  margin-top: 100px;
  overflow-y: scroll;
  height: calc(100vh - 100px);
}
.activity-form-label {
  margin-bottom: 0px;
}

.activity-form-group {
  margin-bottom: 5px !important;
}
.activity-details-image {
  width: 100% !important;
  margin-left: 0px;
}

.activity-page-top {
  margin-top: 80px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(3, 144, 144, 0.246);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(2, 83, 83);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
